on:
  pull_request:
  push:
   branches:
     - main
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 4.14.0
        opam-disable-sudo: true
    - run: opam install . --deps-only -y
    - run: dune build

    - name: Install all deps
      run: npm run install-opam-npm

    - name: Build basic template
      run: npm run build

    - name: Bundle TEA app
      run: npm run bundle
